html {
    font-size: 20px;
}
.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    font-family: "Microsoft Yahei";
    font-size: 0.8rem;
}
.online {
    width: 8%;
    height: 200px;
    background: green;
}
.schedule-content {
    width: 90%;
}
.schedule-title {
    margin: 10px 0;
    color: #5fb740;
}
.schedule-title .title-header {
    border-left: 4px solid #74cd55;
    padding-left: 10px;
}
.schedule-content .schedule-list .item {
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
    cursor: pointer;
}
.schedule-content .schedule-list .item-content {
    background: #f9f9f9;
    padding: 5px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    color: #666;
    .class-icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
         _zoom:1;_display:inline;
        border: 2px solid #ccc;
        margin-left: 70px;
        margin-right: 9px;
        background: #fff;
        vertical-align: -8px;
    }
}
.schedule-content .schedule-list .item-content li {
    padding: 5px;
    height: 35px;
    line-height: 35px;
}
.schedule-list {
    .item {
        .unit {
            width: 100px;
            height: 32px;
            display: inline-block;
             _zoom:1;_display:inline;
            background: #c0c0c0;
            vertical-align: 0;
            line-height: 32px;
            border-radius: 18px;
            color: #fff;
            .unit-title {
                margin-left: 20px;
            }
        }
        .circle-num {
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            border: 5px solid #8CD373;
            line-height: 30px;
            color: #8CD373;
            text-align: center;
            box-shadow: 0 0 0 2px #fff;
            margin-left: -30px;
            z-index: 33;
            display: inline-block;
             _zoom:1;_display:inline;
            font-weight: normal;
            vertical-align: 0;
        }
        .circle0 {
            vertical-align: -2px;
        }
        .title {
            padding-left: 4px;
            color: #606060;
        }
    }
}
@media screen and (max-width: 768px) {
    .online, .onlyPC {
        display: none;
    }
    .schedule-content {
        width: 100%;
        .schedule-title {
            width: 95%;
            margin: 0 auto;
        }
        .unit, .class-icon {
            display: none !important;
        }
        .schedule-list {
            .item {
                width: 95%;
                margin: 0 auto;
                .circle-num {
                    margin-left: 5px;
                    border: 1px solid #8CD373;
                    margin-top: -16px;
                }
            }
            .item-content {
                border: none;
                padding: 0;
                li {
                    border-bottom: 1px solid #e7e7e7;
                    margin-left: 15px;
                }
                li:last-of-type {
                    border-bottom: none;
                }
                span {
                    margin-left: 0;
                }
            }
        }
    }
    .wrapper {
        width: 100%;
    }
    .icon-arrowup,.icon-arrowdown {
        margin-right: 3px !important;
    }
}
